.feedback-form {
  width: 408px;
  padding: 24px;
}

.feedback-form label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.feedback-form button {
  margin-top: 16px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
